{% extends './dashboard.html' %}

{% block dashboard %}
  {% if user.is_authenticated %}
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5" >
                <h2 class="text-center mb-5" style="text-decoration: underline;">
                           <button type="button" class="btn btn-primary btn-xl" disabled>Execution Failed</button>
                        </h2>

                <div class="wrapper-create-work">
                        <script>
                            function copyToClipboard(element) {
                                  var $temp = $("<input>");
                                  $("body").append($temp);
                                  $temp.val($(element).text()).select();
                                  document.execCommand("copy");
                                  $temp.remove();
                                }
                            function toggleVisibility(elementId) {
                                var element = document.getElementById(elementId);
                                if (element.style.display === "none") {
                                    element.style.display = "block";
                                } else {
                                    element.style.display = "none";
                                }
                            }
                        </script>

                        <p class="h4" style="text-align: center">Execution:</p>
                        <table class="table">
                          <thead>
                            <tr style="text-align: center">
                                <th scope="col">JobID</th>
                                <th scope="col">User</th>
                                <th scope="col">Nodes</th>
                                <th scope="col">Status</th>
                                <th scope="col">Time</th>
                            </tr>
                          </thead>
                          <tbody>
                                <tr style="text-align: center">
                                  <td>{{ executionsDone.jobID }}</td>
                                  <td>{{ executionsDone.user }}</td>
                                  <td>{{ executionsDone.nodes }}</td>
                                  <td>{{ executionsDone.status }}</td>
                                  <td>{{ executionsDone.time }}</td>
                                </tr>

                          </tbody>
                        </table>
                        <!-- <button class="btn btn-secondary"  onclick="copyToClipboard('#p1')" > Click to copy the path of the COMPSs output report</button>
                        <button id="p1" hidden> {{pathOut}}</button>
                        <br> <br>
                        <button class="btn btn-secondary"  onclick="copyToClipboard('#p2')" > Click to copy the path of the COMPSs error report</button>
                        <button id="p2" hidden> {{pathErr}}</button> -->

                        {% if contentErr %}
                            <button onclick="toggleVisibility('containerContentErr')" class="btn btn-secondary">Show compss.err log file</button>
                            <div id="containerContentErr"  style="display:none; text-align: left; alignment: left">
                                <pre>{{ contentErr|safe }}</pre>
                            </div>
                        {% endif %}

                        {% if contentOut %}
                            <button onclick="toggleVisibility('containerContentOut')" class="btn btn-secondary">Show compss.out log file</button>
                            <div id="containerContentOut" style="display:none; text-align: left; alignment: left">
                                <pre>{{ contentOut|safe }}</pre>
                            </div>
                        {% endif %}
                 </div>
              </div>
            </div>
  {% else %}
    <div class="wrapper">
      <h2>CAELESTIS</h2>
      <h4>Login and Register</h4>
    </div>
  {% endif %}
{% endblock %}

