{% extends './dashboard.html' %}

{% block dashboard %}
    {% if user.is_authenticated %}
        <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                {% if firstCheck != "no" %}
                    {% if checkConn == "no" %}
                        <h2 class="text-center mb-5" style="text-decoration: underline;">
                           <button type="button" class="btn btn-primary btn-xl" disabled>Connection</button>
                        </h2>
                        <div class="wrapper-create-work">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <select id="machineChoice" name="machineChoice"
                                        class="btn btn-secondary dropdown-toggle">
                                    {% if choice %}
                                        <option>{{ choice }}</option>
                                    {% else %}
                                        {% for m in machines %}
                                            <option>{{ m }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                <br>
                                <label class="font-weight-bold">Token</label>
                                <input type="password" name="token" class="form-control" placeholder="Enter your Token">
                                <small class="form-text text-muted">We'll never store your token.</small>
                                <button type="submit" name="connection" class="btn btn-primary fa fa-plug"></button>
                            </form>
                        </div>
                        {% if errorToken == "yes" %}
                            <div title="Some Flag">
                                <div class="alert alert-danger" role="alert">
                                    Provided token is wrong!
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        {% if machine_chosen %}


                        <h2 class="text-center mb-5" style="text-decoration: underline;">
                           <button type="button" class="btn btn-primary btn-xl" disabled>{{ machine_chosen }}</button>
                        </h2>
                        {% endif %}
                        <div class="d-flex ">
                            <div class="p-2 mr-auto">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input hidden value="{{ machine_chosen }}"
                                           name="machine_chosen_value">
                                    <button type="submit" name="run_sim"
                                            class="btn btn-success fa fa-plus-circle">
                                    </button>
                                </form>

                            </div>

                            <div class="p-2 ">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_hidden }}
                                    <button type="submit" class="btn btn-primary fa fa-refresh right"
                                            aria-hidden="true"></button>
                                </form>
                            </div>
                        </div>
                        <div class="wrapper-create-work">
                            <div>
                                <div class="rounded" style="outline: 2px solid black;">
                                    <p class="h4" style="text-align: center">Pending executions:</p>
                                    {% if executions %}
                                        <table class="table">
                                            <thead>
                                            <tr style="text-align: center">
                                                <th scope="col">Name</th>
                                                <th scope="col">JobID</th>
                                                <th scope="col">User</th>
                                                <th scope="col">Nodes</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Autorestart</th>
                                                <th scope="col">Time</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            {% for e in executions %}
                                                <tbody>

                                                <tr style="text-align: center">
                                                    <td>{{ e.name_sim }}</td>
                                                    <td>{{ e.jobID }}</td>
                                                    <td>{{ e.user }}</td>
                                                    <td>{{ e.nodes }}</td>
                                                    <td>{{ e.status }}</td>
                                                    <td>{{ e.autorestart }}</td>
                                                    <td>{{ e.time }}</td>
                                                    <td>
                                                        <form method="POST">
                                                            {% csrf_token %}
                                                            <input hidden value="{{ e.eID }}"
                                                                   name="stopExecutionValue">
                                                            <button  type="submit" name="stopExecution"
                                                                    class="btn btn-primary">STOP
                                                            </button>

                                                        </form>
                                                    </td>
                                                    <td>
                                                        <form method="POST">
                                                            {% csrf_token %}
                                                            <input hidden value="{{ e.eID }}"
                                                                   name="deleteExecutionValue">
                                                            <button  type="submit" name="deleteExecution"
                                                                    class="btn btn-primary fa fa-trash">
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        <div class="alert alert-warning" role="alert">
                                            No pending executions!
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="rounded" style="outline: 2px solid black;">
                                    <p class="h4" style="text-align: center">Finished executions:</p>
                                    {% if executionsDone %}
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">JobID</th>
                                                <th scope="col">User</th>
                                                <th scope="col">Nodes</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Autorestart</th>
                                                <th scope="col">Time</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            {% for e in executionsDone %}
                                                <tbody>
                                                <tr>
                                                    <td>{{ e.name_sim }}</td>
                                                    <td>
                                                        <form method="POST">
                                                            {% csrf_token %}
                                                            <input hidden value="{{ e.jobID }}"
                                                                   name="resultExecutionValue">
                                                            <button  type="submit" name="resultExecution"
                                                                    class="btn btn-primary">{{ e.jobID }}</button>
                                                        </form>
                                                    </td>
                                                    <td>{{ e.user }}</td>
                                                    <td>{{ e.nodes }}</td>
                                                    <td>{{ e.status }}</td>
                                                    <td>{{ e.autorestart }}</td>
                                                    <td>{{ e.time }}</td>
                                                    <td>
                                                        <form method="POST">
                                                            {% csrf_token %}
                                                            <input hidden value="{{ e.eID }}"
                                                                   name="deleteExecutionValue">
                                                            <button  type="submit" name="deleteExecution"
                                                                    class="btn btn-primary fa fa-trash">
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        <div class="alert alert-warning" role="alert">
                                            No finished executions!
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="rounded" style="outline: 2px solid black;">
                                    <p class="h4" style="text-align: center">Timeout executions:</p>
                                    {% if executionsTimeout %}

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">JobID</th>
                                                <th scope="col">User</th>
                                                <th scope="col">Nodes</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Autorestart</th>
                                                <th scope="col">Time</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            {% for e in executionsTimeout %}
                                                <tbody>
                                                <tr>
                                                    <td>{{ e.name_sim }}</td>
                                                    <td>
                                                        <form method="POST">
                                                            {% csrf_token %}
                                                            <input hidden value="{{ e.jobID }}"
                                                                   name="timeoutExecutionValue">
                                                            <button  type="submit" name="timeoutExecution"
                                                                    class="btn btn-primary">{{ e.jobID }}</button>
                                                        </form>
                                                    </td>
                                                    <td>{{ e.user }}</td>
                                                    <td>{{ e.nodes }}</td>
                                                    <td>{{ e.status }}</td>
                                                    <td>{{ e.autorestart }}</td>
                                                    <td>{{ e.time }}</td>
                                                    <td>
                                                        <form method="POST">
                                                            {% csrf_token %}
                                                            <input hidden value="{{ e.eID }}"
                                                                   name="deleteExecutionValue">
                                                            <button  type="submit" name="deleteExecution"
                                                                    class="btn btn-primary fa fa-trash">
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        <div class="alert alert-warning" role="alert">
                                            No finished executions with a timeout!
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="rounded" style="outline: 2px solid black;">
                                    <p class="h4" style="text-align: center">Failed executions:</p>
                                    {% if executionsFailed %}
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">JobID</th>
                                                <th scope="col">User</th>
                                                <th scope="col">Nodes</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Autorestart</th>
                                                <th scope="col">Time</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            {% for e in executionsFailed %}
                                                <tbody>
                                                <tr>
                                                    <td>{{ e.name_sim }}</td>
                                                    <td>
                                                        <form method="POST">
                                                            {% csrf_token %}
                                                            <input hidden value="{{ e.jobID }}"
                                                                   name="failedExecutionValue">
                                                            <button  type="submit" name="failedExecution"
                                                                    class="btn btn-primary">{{ e.jobID }}</button>
                                                        </form>
                                                    </td>
                                                    <td>{{ e.user }}</td>
                                                    <td>{{ e.nodes }}</td>
                                                    <td>{{ e.status }}</td>
                                                    <td>{{ e.autorestart }}</td>
                                                    <td>{{ e.time }}</td>
                                                    <td>
                                                        <form method="POST">
                                                            {% csrf_token %}
                                                            <input hidden value="{{ e.eID }}"
                                                                   name="deleteExecutionValue">
                                                            <button  type="submit" name="deleteExecution"
                                                                    class="btn btn-primary fa fa-trash">
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        <div class="alert alert-warning" role="alert">
                                            No failed executions!
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="d-flex flex-row-reverse">
                                    <div class="p-2">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <button type="submit" name="disconnectButton"
                                                    class="btn btn-primary">DISCONNECT
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="d-flex flex-row-reverse">
                        <div class="p-2">
                            <a href="/machine_definition">New machine
                                <button type="button" class="btn btn-success fa fa-plus-circle"></button>
                            </a>
                        </div>
                    </div>
                    <div title="Some Flag">
                        <div class="alert alert-warning" role="alert">
                            You haven't defined any machines yet!
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="wrapper">s
            <h2>CAELESTIS</h2>
            <h4>Login and Register</h4>
        </div>
    {% endif %}
{% endblock %}

