{% extends "./home.html" %}
{% block content %}
    <div class="card d-flex justify-content-center" style="border-radius: 15px;">
        <div class="card-body p-30">
            <h2 class="text-uppercase text-center mb-5" style="text-decoration: underline;"><b>LOGIN</b></h2>
            <form method="POST" , enctype="multipart/form-data" class="inputfield">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <label class="form-label" for="typePasswordX-2">Username</label>
                        </div>
                        <div class="col-sm">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <label class="form-label" for="typePasswordX-2">Password</label>
                        </div>
                        <div class="col-sm">
                            {{ form.password1 }}
                        </div>
                    </div>
                </div>
                {% if error %}
                    <div class="alert alert-danger" style="text-align: center" role="alert">
                        Login Failed: Your username or password is incorrect
                    </div>
                {% endif %}
                <div class="d-flex justify-content-center" style="padding: 25px 100px;">
                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                            value="Submit">Login
                    </button>
                </div>
                <p class="text-center text-muted mt-5 mb-0">Have Not an account? <a href="/registerpage"
                                                                                    class="fw-bold text-body"><u>Register
                    Here</u></a></p>
            </form>
        </div>
    </div>
{% endblock %}
