{% extends './dashboard.html' %}
{% load widget_tweaks %}

{% block dashboard %}
    {% if user.is_authenticated %}
        <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5" style="text-decoration: underline;"><b>MACHINES</b></h2>
                {% if noMachines != "yes" %}
                    <div class="d-flex flex-row-reverse">
                        <div class="p-2">
                            <a href="/machine_definition">New machine
                                <button type="button" class="btn btn-success fa fa-plus-circle"></button>
                            </a>
                        </div>
                    </div>
                    <div title="Some Flag">
                        <div class="alert alert-warning" role="alert">
                            You haven't defined any machines yet!
                        </div>
                    </div>
                {% else %}
                    <div class="d-flex flex-row-reverse">
                        <div class="p-2">
                            <a href="/machine_definition">New machine
                                <button type="button" class="btn btn-success fa fa-plus-circle"></button>
                            </a>
                        </div>
                    </div>
                    <div class="wrapper-create-work">
                        <form method="post">
                            {% csrf_token %}
                            {% if firstPhase == "yes" %}
                                <div class="rounded" style="outline: 2px solid black;">
                                    <select id="machineChoice" name="machineChoice"
                                            class="btn btn-secondary dropdown-toggle">
                                        {% if choice %}
                                            <option>{{ choice }}</option>
                                        {% else %}
                                            {% for m in machines %}
                                                <option>{{ m }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    <small class="form-text text-muted">Choose which machine you want to see the
                                        details
                                        of</small>
                                    <button name="chooseButton" type="submit" class="btn btn-primary">Details
                                    </button>
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label class="font-weight-bold">USERNAME</label>
                                    {% render_field form.user name="userForm" type="text" class="form-control" value="{{ form.user }}" %}
                                    <small class="form-text text-muted">Redefine your username</small>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">FQDN</label>
                                    {% render_field form.fqdn name="fqdForm" type="text" class="form-control" value="{{ form.fqdn }}" %}
                                    <small class="form-text text-muted">Redefine the machine Fully Qualified Domain
                                        Name</small>
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">WDIR</label>
                                    {% render_field form.wdir name="wdirForm" type="text" class="form-control" value="{{ form.wdir }}" %}
                                    <small class="form-text text-muted">Redefine the working directory path for the
                                        choosen machine</small>
                                </div>
                                {{ form.author.as_hidden }}
                                {% if flag == "yes" %}
                                    <div title="Some Flag">
                                        <div class="alert alert-warning" role="alert">
                                            Redefinition of the machine done!
                                        </div>
                                        <a href="/dashboard">
                                            <button type="button" class="btn btn-success">Continue</button>
                                        </a>
                                    </div>
                                {% else %}
                                    <button type="submit" name="redefineButton" class="btn btn-primary">Redefine
                                    </button>
                                {% endif %}
                            {% endif %}
                        </form>
                        <br>
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="wrapper">
            <h2>CAELESTIS</h2>
            <h4>Login and Register</h4>
        </div>
    {% endif %}
{% endblock %}

